/* Universal Document Style */

a {
  color: #0645AD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
  image-rendering: pixelated;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

li {
  font-size: 20px;
  padding-bottom: 8px;
}

nav {
  background-color: #EEE;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  width: 160px;
  z-index: 1;
}

nav a {
  display: block;
  padding: 6px 8px 6px 16px;
}

nav img {
  height: 140px;
  left: 0;
  padding: 10px;
  top: 0;
  width: 140px;
}

p {
  font-size: 20px;
}

pre {
  background-color: #EEE;
  font-size: 16px;
}

ul {
  font-size: 20px;
}


/* Classified Tag Style */

nav a.logo {
  padding: 0;
}

nav a.nav {
  padding-left: 32px;
  font-size: 16px;
}

nav a.title {
  padding-left: 16px;
  font-size: 20px;
}

div.article {
  padding-left: 200px;
}